<!DOCTYPE html >
<html>

<head>
  <title>{{ page_title }}</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>

<body>
  <div id="scatter" style="width:{{ plot_width if plot_width is defined else '960' }}px;height:{{ plot_height if plot_height is defined else '800' }}px;"></div>
  <script>
    {% for label in labels %}
    var data{{ loop.index }} = {
      x: {{ data[label]["x"] }},
      y: {{ data[label]["y"] }},
      text: {{ data[label]["ids"] }},
      name: '{{ label }}',
      mode: 'markers',
      marker: {
        size: {{ sizes[label] if sizes is defined else "6" }},
        symbol: '{{ symbols[label] if symbols is defined else "circle" }}',
        {%- if lines is defined and label in lines %}
        line: {
          color: '{{ lines[label]["color"] }}',
          width: {{ lines[label]["width"] }}
        },
        {%- endif %}
        color: '{{ colors[label] }}'
      },
      type: 'scatter'
    };
    {% endfor %}

    var dataPoints = [
      {%- for label in labels %}
      data{{ loop.index }}{{ "," if not loop.last }}
      {%- endfor %}
    ];

    var layout = {
      title: '<b>{{ scatter_title }}</b>',
      xaxis: { title: '{{ xlabel }}' },
      yaxis: { title: '{{ ylabel }}' },
      hovermode: 'closest'
    };

    var config = {
      toImageButtonOptions: {
        filename: 'sexcheck'
      },
      modeBarButtonsToRemove: ['select2d', 'lasso2d']
    };

    Plotly.newPlot('scatter', dataPoints, layout, config);
  </script>

  <p>Highlight Samples</p>
  <select id="sample-select" style="width: 400px" class="sample-multi-select" name="states[]" multiple="multiple" onchange="updateData()">
    <option value="BIO-02062221-10">BIO-02062221-10</option>
    <option value="BIO-00786959-08">BIO-00786959-08</option>
  </select>

</body>

</html>
